<a href="https://colab.research.google.com/github/fluffymouses/fluffymouses/blob/main/lab1/%D0%97%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Задание по практике 1

##Загрузка датасета
В файле classification datasets расположены ссылки на датасеты. Выберите один в соответствии со своим вариантом, скачайте и прочитайте файл

**Не забудьте загрузить нужные библиотеки**

Например: pip3 install pandas

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("/content/sq/crimes_against_women_2001-2014.csv")
df

,Unnamed: 0,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
0,0,ANDHRA PRADESH,ADILABAD,2001,50,30,16,149,34,175,0
1,1,ANDHRA PRADESH,ANANTAPUR,2001,23,30,7,118,24,154,0
2,2,ANDHRA PRADESH,CHITTOOR,2001,27,34,14,112,83,186,0
3,3,ANDHRA PRADESH,CUDDAPAH,2001,20,20,17,126,38,57,0
4,4,ANDHRA PRADESH,EAST GODAVARI,2001,23,26,12,109,58,247,0
...,...,...,...,...,...,...,...,...,...,...,...
10672,832,Lakshadweep,Lakshadweep,2014,1,0,0,1,2,0,0
10673,833,Lakshadweep,Total District(s),2014,1,0,0,1,2,0,0
10674,834,Puducherry,Karaikal,2014,3,1,0,12,1,1,0
10675,835,Puducherry,Puducherry,2014,7,6,1,20,7,3,0
10676,836,Puducherry,Total District(s),2014,10,7,1,32,8,4,0

##Первое знакомство с датасетом
В следующих ячейках выведите:


1.   Колонки датасета
2.   Первые 5 значений
3.   Последние 5 значений
4.   Статистику по числовым колонкам

In [5]:
df.columns

Index(['Unnamed: 0', 'STATE/UT', 'DISTRICT', 'Year', 'Rape',
       'Kidnapping and Abduction', 'Dowry Deaths',
       'Assault on women with intent to outrage her modesty',
       'Insult to modesty of Women', 'Cruelty by Husband or his Relatives',
       'Importation of Girls'],
      dtype='object')

In [6]:
df.head()

,Unnamed: 0,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
0,0,ANDHRA PRADESH,ADILABAD,2001,50,30,16,149,34,175,0
1,1,ANDHRA PRADESH,ANANTAPUR,2001,23,30,7,118,24,154,0
2,2,ANDHRA PRADESH,CHITTOOR,2001,27,34,14,112,83,186,0
3,3,ANDHRA PRADESH,CUDDAPAH,2001,20,20,17,126,38,57,0
4,4,ANDHRA PRADESH,EAST GODAVARI,2001,23,26,12,109,58,247,0

In [7]:
df.tail()

,Unnamed: 0,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
10672,832,Lakshadweep,Lakshadweep,2014,1,0,0,1,2,0,0
10673,833,Lakshadweep,Total District(s),2014,1,0,0,1,2,0,0
10674,834,Puducherry,Karaikal,2014,3,1,0,12,1,1,0
10675,835,Puducherry,Puducherry,2014,7,6,1,20,7,3,0
10676,836,Puducherry,Total District(s),2014,10,7,1,32,8,4,0

In [8]:
df.describe()

,Unnamed: 0,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
count,10677.000000,10677.000000,10677.000000,10677.000000,10677.000000,10677.000000,10677.000000,10677.000000,10677.000000
mean,3871.570198,2007.697949,57.989885,69.888358,20.181699,113.539196,27.419313,209.224314,0.175330
std,2816.369918,4.046874,214.230398,311.623450,98.276531,458.903951,167.806797,905.664362,2.228637
min,0.000000,2001.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1009.000000,2004.000000,8.000000,6.000000,1.000000,10.000000,0.000000,11.000000,0.000000
50%,3678.000000,2008.000000,22.000000,20.000000,5.000000,34.000000,2.000000,50.000000,0.000000
75%,6347.000000,2011.000000,44.000000,49.000000,16.000000,85.000000,12.000000,144.000000,0.000000
max,9016.000000,2014.000000,5076.000000,10626.000000,2469.000000,10001.000000,4970.000000,23278.000000,83.000000

**Ответьте на следующие вопросы:**


1.   Какие средние значения в каждой числовой колонке вашего датасета?
2.   Минимальные и максимальные значения в каждой числовой колонке вашего датасета



1.   Unnamed: 0                                             3871.570198
Year                                                   2007.697949
Rape                                                     57.989885
Kidnapping and Abduction                                 69.888358
Dowry Deaths                                             20.181699
Assault on women with intent to outrage her modesty     113.539196
Insult to modesty of Women                               27.419313
Cruelty by Husband or his Relatives                     209.224314
Importation of Girls                                      0.175330
2.   Min:
STATE/UT                                                   A & N ISLANDS
DISTRICT                                               24 PARGANAS NORTH
Year                                                              2001.0
Rape                                                                   0
Kidnapping and Abduction                                               0
Dowry Deaths                                                           0
Assault on women with intent to outrage her modesty                    0
Insult to modesty of Women                                             0
Cruelty by Husband or his Relatives                                    0
Importation of Girls                                                   0
  Max:
Unnamed: 0                                                    9016
STATE/UT                                               West Bengal
DISTRICT                                                 Zunheboto
Year                                                        2014.0
Rape                                                          5076
Kidnapping and Abduction                                     10626
Dowry Deaths                                                  2469
Assault on women with intent to outrage her modesty          10001
Insult to modesty of Women                                    4970
Cruelty by Husband or his Relatives                          23278
Importation of Girls                                            83

##Типизация
Присвойте соответствующим колонкам один из типов (category, float, int)

In [9]:
df.Year = df.Year.astype("Float64")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10677 entries, 0 to 10676
Data columns (total 11 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Unnamed: 0                                           10677 non-null  int64
 1   STATE/UT                                             10677 non-null  object
 2   DISTRICT                                             10677 non-null  object
 3   Year                                                 10677 non-null  Float64
 4   Rape                                                 10677 non-null  int64
 5   Kidnapping and Abduction                             10677 non-null  int64
 6   Dowry Deaths                                         10677 non-null  int64
 7   Assault on women with intent to outrage her modesty  10677 non-null  int64
 8   Insult to modesty of Women                           10677 non-null  int64
 9   Cruelty by Husband or his Relatives                  10677 non-null  int64
 10  Importation of Girls                                 10677 non-null  int64
dtypes: Float64(1), int64(8), object(2)
memory usage: 928.1+ KB

Какие признаки вы можете выделить в своем датасете (категориальные, числовые и др., **минимум 3 разных**, помните что можно также выделить признаки более точно, например числовые - порядковые, количественные и т.д.)?

##Фильтрация
Офильтруйте 3 колонки вашего датасета и выведите результат

In [10]:
df[df["Year"] > 2013]

,Unnamed: 0,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
9840,0,Andhra Pradesh,Anantapur,2014.0,35,106,25,436,26,165,0
9841,1,Andhra Pradesh,Chittoor,2014.0,32,34,17,135,94,278,0
9842,2,Andhra Pradesh,Cuddapah,2014.0,28,16,16,215,12,91,0
9843,3,Andhra Pradesh,East Godavari,2014.0,85,25,7,519,62,464,0
9844,4,Andhra Pradesh,Guntakal Railway,2014.0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
10672,832,Lakshadweep,Lakshadweep,2014.0,1,0,0,1,2,0,0
10673,833,Lakshadweep,Total District(s),2014.0,1,0,0,1,2,0,0
10674,834,Puducherry,Karaikal,2014.0,3,1,0,12,1,1,0
10675,835,Puducherry,Puducherry,2014.0,7,6,1,20,7,3,0
10676,836,Puducherry,Total District(s),2014.0,10,7,1,32,8,4,0

In [13]:
df[df["Rape"] > 23]

,Unnamed: 0,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
0,0,ANDHRA PRADESH,ADILABAD,2001.0,50,30,16,149,34,175,0
2,2,ANDHRA PRADESH,CHITTOOR,2001.0,27,34,14,112,83,186,0
6,6,ANDHRA PRADESH,GUNTUR,2001.0,54,51,7,139,129,378,0
7,7,ANDHRA PRADESH,HYDERABAD CITY,2001.0,37,39,24,118,27,746,0
8,8,ANDHRA PRADESH,KARIMNAGAR,2001.0,56,49,62,414,81,224,0
...,...,...,...,...,...,...,...,...,...,...,...
10664,824,Delhi UT,South,2014.0,280,369,6,595,665,143,0
10665,825,Delhi UT,South-East,2014.0,266,402,24,469,123,312,0
10666,826,Delhi UT,South-West,2014.0,234,397,17,494,68,318,0
10670,830,Delhi UT,West,2014.0,251,546,13,484,63,416,0
10671,831,Delhi UT,Total District(s),2014.0,2096,4034,153,4322,1361,3173,0

In [16]:
df[df["DISTRICT"] == "CHITTOOR"]

,Unnamed: 0,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
2,2,ANDHRA PRADESH,CHITTOOR,2001.0,27,34,14,112,83,186,0
718,718,ANDHRA PRADESH,CHITTOOR,2002.0,28,39,16,126,40,188,0
1437,1437,ANDHRA PRADESH,CHITTOOR,2003.0,36,34,23,121,173,60,0
2165,2165,ANDHRA PRADESH,CHITTOOR,2004.0,28,27,22,116,197,234,0
2894,2894,ANDHRA PRADESH,CHITTOOR,2005.0,35,58,9,91,223,202,0
3627,3627,ANDHRA PRADESH,CHITTOOR,2006.0,31,37,18,123,190,249,0
4367,4367,ANDHRA PRADESH,CHITTOOR,2007.0,31,47,25,118,197,395,0
5110,5110,ANDHRA PRADESH,CHITTOOR,2008.0,30,57,26,104,250,288,0
5871,5871,ANDHRA PRADESH,CHITTOOR,2009.0,33,46,19,120,268,333,0
6638,6638,ANDHRA PRADESH,CHITTOOR,2010.0,44,56,32,136,121,388,0
7417,7417,ANDHRA PRADESH,CHITTOOR,2011.0,17,47,25,124,168,421,0
8208,8208,ANDHRA PRADESH,CHITTOOR,2012.0,28,49,33,90,269,339,0
9019,2,Andhra Pradesh,CHITTOOR,2013.0,31,27,13,119,84,435,0

##Группировка
Сгруппируйте датасет по какому-либо категориальному признаку и выведите среднее значение численных колонок (см. метод mean в pandas)

In [18]:
df.groupby(["Importation of Girls"]).mean()

<ipython-input-18-68afc2ff3e6a>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(["Importation of Girls"]).mean()

,Unnamed: 0,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives
Importation of Girls,,,,,,,,
0,3867.384172,2007.703722,48.174440,59.126166,16.369843,98.307433,25.094048,174.404077
1,3737.386792,2007.037736,300.113208,305.216981,69.867925,579.886792,71.000000,1065.028302
2,4003.617021,2008.978723,319.042553,416.829787,71.638298,439.617021,90.361702,1045.340426
3,4681.708333,2007.375,417.333333,401.750000,183.416667,756.541667,273.375000,1485.625000
4,4798.062500,2007.9375,241.250000,593.437500,141.812500,429.625000,50.250000,1807.250000
5,4380.000000,2008.611111,787.277778,815.222222,300.833333,1211.888889,215.333333,3434.833333
6,4633.666667,2007.0,845.166667,391.000000,237.833333,1224.666667,144.000000,930.000000
7,713.000000,2006.6,1282.400000,1630.800000,489.000000,2450.800000,622.800000,3158.200000
8,4679.285714,2007.0,576.571429,873.571429,306.714286,486.714286,43.142857,2991.142857
9,5014.428571,2010.428571,271.857143,606.285714,76.285714,892.714286,197.000000,2887.000000
10,7711.666667,2011.0,353.000000,1030.333333,478.333333,347.666667,7.000000,900.333333
11,2857.000000,2004.0,108.000000,80.000000,30.000000,128.000000,0.000000,393.000000
12,5954.142857,2008.428571,744.142857,928.571429,247.428571,1430.571429,136.714286,4384.142857
14,573.000000,2001.0,423.000000,607.000000,191.000000,1773.000000,1012.000000,815.000000
15,5221.000000,2008.0,32.000000,62.000000,60.000000,15.000000,5.000000,52.000000
21,1548.000000,2003.0,25.000000,18.500000,28.000000,6.500000,1.000000,25.000000
22,4855.500000,2007.5,657.000000,916.000000,620.000000,506.000000,10.500000,1011.000000
23,5981.000000,2009.0,18.000000,11.000000,41.000000,38.000000,0.000000,57.000000
25,3011.500000,2005.0,37.000000,18.500000,36.500000,11.000000,4.500000,38.000000
27,4556.000000,2007.0,57.500000,36.500000,29.500000,17.000000,2.500000,60.500000
29,107.000000,2001.0,19.000000,29.000000,11.000000,17.000000,9.000000,35.000000
31,5991.000000,2009.0,929.000000,1986.000000,1295.000000,726.000000,12.000000,2532.000000
32,8536.000000,2012.0,621.000000,1070.000000,218.000000,2978.000000,100.000000,3684.000000
34,1690.500000,2003.0,14.000000,8.000000,24.000000,11.000000,0.000000,18.000000
35,2281.000000,2004.0,1390.000000,997.000000,1029.000000,704.000000,13.000000,2679.000000
36,1695.500000,2003.0,797.000000,178.000000,275.000000,411.000000,3.000000,588.000000
37,1553.000000,2003.0,985.000000,674.000000,909.000000,688.000000,11.000000,1880.000000
38,831.000000,2002.0,1040.000000,744.000000,927.000000,621.000000,6.000000,1577.000000
39,2740.000000,2004.5,409.000000,255.000000,178.000000,159.000000,11.500000,501.500000
42,3746.000000,2006.0,1232.000000,1084.000000,1188.000000,530.000000,53.000000,1689.000000
45,7810.000000,2011.0,3406.000000,1088.000000,811.000000,6665.000000,762.000000,3732.000000
48,3005.000000,2005.0,28.000000,4.000000,40.000000,10.000000,0.000000,73.000000
56,4486.000000,2007.0,1555.000000,1260.000000,1172.000000,853.000000,12.000000,1635.000000
60,3590.000000,2005.0,148.000000,97.000000,48.000000,95.000000,3.000000,545.000000
61,3597.000000,2005.0,1686.000000,1039.000000,446.000000,1572.000000,54.000000,6936.000000
74,3013.000000,2005.0,1147.000000,929.000000,1014.000000,451.000000,13.000000,1574.000000
83,115.000000,2001.0,888.000000,518.000000,859.000000,562.000000,21.000000,1558.000000

##Задание для гениев *
Агрегируйте числовой признак по категориальному признаку с использованием метода **без использования** библиотеки pandas, и вычислите медиану и среднее значение для каждой категории.

In [ ]:
#Агрегация