<a href="https://colab.research.google.com/github/fluffymouses/fluffymouses/blob/main/lab4/%D0%97%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Методы кластеризации и оценка качества кластеризации

Загрузите набор данных из файла cluster datasets в соответствии с вашим вариантом (если считаете, что набор данных не представляет необходимой информации или сложен для интерперетации или, то можно выбрать другой - но **необходимо предварительное согласование**).

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

df = pd.read_csv("/content/crimes_against_women_2001-2014.csv")
df

,Unnamed: 0,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
0,0,ANDHRA PRADESH,ADILABAD,2001,50,30,16,149,34,175,0
1,1,ANDHRA PRADESH,ANANTAPUR,2001,23,30,7,118,24,154,0
2,2,ANDHRA PRADESH,CHITTOOR,2001,27,34,14,112,83,186,0
3,3,ANDHRA PRADESH,CUDDAPAH,2001,20,20,17,126,38,57,0
4,4,ANDHRA PRADESH,EAST GODAVARI,2001,23,26,12,109,58,247,0
...,...,...,...,...,...,...,...,...,...,...,...
10672,832,Lakshadweep,Lakshadweep,2014,1,0,0,1,2,0,0
10673,833,Lakshadweep,Total District(s),2014,1,0,0,1,2,0,0
10674,834,Puducherry,Karaikal,2014,3,1,0,12,1,1,0
10675,835,Puducherry,Puducherry,2014,7,6,1,20,7,3,0
10676,836,Puducherry,Total District(s),2014,10,7,1,32,8,4,0

Используйте представленные в практике методы кластеризации (помните, что кластеры строятся по классам).

Несколько правил перед выполнением задания:
0. Внимательно изучить практику 4!
1. Служебные комментарии читать внимательно и не удалять
2. Выполнить до 10-11-2023 (но не затягивать, таск не простой!)


P.S. Мгномерные данные - данные, в которых количество колонок > 3

P.S.S. Служебные комментарии - ячейки с описанием задачи в """ task description """

In [ ]:
"""
Предварительно - оптимизируйте ваш набор данных.
1. Удалить лишние колонки (порядковые признаки, с множеством пропусков, с кучей выбросов, ....)
2. Обработайте выбросы и пропуски (Для удобства - ваш коллега сделал библиотеку в pypi для анализа выбросов - подробности уточняйте в группе)
3. Скопируйте df в df_cluster # df_cluster = df.copy()
далее вы работаете с ним
4. Выполните масштабирование числовых признаков StandatdScaler || MinMaxScaler
5. Для кагегориальных значений используйте LabelEncoder - https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html
"""

In [8]:
import pandas as pd
import numpy as np
import seaborn as sns
#приверка на пропуски. По результату кода, их нет
df_cluster = df.copy()
for col in df_cluster.columns:
    pct_missing = np.mean(df[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

Unnamed: 0 - 0%
STATE/UT - 0%
DISTRICT - 0%
Year - 0%
Rape - 0%
Kidnapping and Abduction - 0%
Dowry Deaths - 0%
Assault on women with intent to outrage her modesty - 0%
Insult to modesty of Women - 0%
Cruelty by Husband or his Relatives - 0%
Importation of Girls - 0%

In [9]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

# MinMaxScaler

num_features = df_cluster.select_dtypes(include=['int']).columns
scaler_minmax = MinMaxScaler()
min_max_scaler = df_cluster.copy()
min_max_scaler[num_features] = scaler_minmax.fit_transform(df_cluster[num_features])
min_max_scaler["Dowry Deaths"].unique()

array([6.48035642e-03, 2.83515593e-03, 5.67031187e-03, 6.88537870e-03,
       4.86026731e-03, 0.00000000e+00, 9.72053463e-03, 2.51113811e-02,
       4.05022276e-03, 5.26528959e-03, 1.05305792e-02, 1.25556906e-02,
       7.69542325e-03, 2.02511138e-03, 1.49858242e-02, 4.05022276e-04,
       2.43013366e-03, 8.10044552e-04, 1.21506683e-03, 2.10611584e-02,
       6.07533414e-03, 1.70109356e-01, 3.64520049e-03, 1.62008910e-03,
       2.38963143e-02, 4.45524504e-03, 1.33657351e-02, 8.50546780e-03,
       3.24017821e-03, 8.10044552e-03, 9.31551235e-03, 8.91049008e-03,
       1.01255569e-02, 2.79465371e-02, 1.90360470e-02, 3.64520049e-02,
       1.45808019e-02, 2.71364925e-02, 1.29607128e-02, 3.47914135e-01,
       2.83515593e-02, 7.29040097e-03, 1.15431349e-01, 1.21506683e-02,
       8.78898339e-02, 1.62008910e-02, 1.13406237e-02, 8.91049008e-02,
       1.09356015e-02, 1.37707574e-02, 1.66059133e-02, 1.17456460e-02,
       2.46658566e-01, 1.41757797e-02, 1.53908465e-02, 1.24746861e-01,
       1.57958688e-02, 1.19076549e-01, 6.43985419e-02, 1.74159579e-02,
       1.52288376e-01, 7.73592548e-02, 2.55164034e-02, 1.78209802e-02,
       2.26812475e-02, 2.30862697e-02, 1.82260024e-02, 2.75415148e-02,
       1.86310247e-02, 1.94410693e-02, 2.59214257e-02, 3.56419603e-02,
       1.70109356e-02, 2.67314702e-02, 3.32118267e-02, 8.95504253e-01,
       2.34912920e-02, 1.07330903e-01, 4.57675172e-02, 2.06561361e-02,
       1.81855002e-01, 3.07816930e-02, 2.63264480e-02, 3.75455650e-01,
       3.44268935e-02, 1.03685703e-01, 1.11381126e-01, 9.43701904e-02,
       2.14661806e-02, 1.98460915e-02, 2.72985014e-01, 1.22721750e-01,
       1.00445525e-01, 6.72336979e-02, 1.61603888e-01, 9.84204131e-02,
       2.02511138e-02, 3.28068044e-02, 3.36168489e-02, 7.66707169e-01,
       1.10571081e-01, 5.46780073e-02, 1.88740381e-01, 2.43013366e-02,
       3.68165249e-01, 3.19967598e-02, 2.18712029e-02, 8.99149453e-02,
       1.06115836e-01, 7.85743216e-02, 2.62454435e-01, 2.47063588e-02,
       1.49048198e-01, 1.13001215e-01, 4.45524504e-02, 1.57553665e-01,
       2.22762252e-02, 5.35439449e-01, 3.76670717e-02, 1.33252329e-01,
       5.26528959e-02, 2.07371405e-01, 2.99716484e-02, 2.91616039e-02,
       3.96921831e-02, 4.16767922e-01, 2.87565816e-02, 1.01660591e-01,
       1.04900770e-01, 3.04171729e-01, 1.27176995e-01, 1.29202106e-01,
       1.53503443e-01, 9.11300122e-02, 6.91778048e-01, 1.60388821e-01,
       5.10328068e-02, 1.79424868e-01, 4.00972053e-02, 4.10692588e-01,
       4.05022276e-02, 8.58647226e-02, 1.04090725e-01, 1.05710814e-01,
       2.99311462e-01, 1.38112596e-01, 1.35277440e-01, 1.46213042e-01,
       8.70797894e-02, 6.33454840e-01, 1.80639935e-01, 4.61725395e-02,
       2.10206561e-01, 4.25273390e-02, 6.80437424e-02, 3.11867153e-02,
       4.81166464e-01, 4.17172945e-02, 1.03280680e-01, 1.13811260e-01,
       9.88254354e-02, 3.09437019e-01, 1.56743621e-01, 1.85095180e-01,
       1.59578777e-01, 7.57391657e-02, 7.28230053e-01, 3.24017821e-02,
       1.80234913e-01, 5.54880518e-02, 2.48278655e-01, 4.74686108e-01,
       1.08950992e-01, 3.00526529e-01, 1.76589712e-01, 1.86715269e-01,
       5.38679627e-02, 1.77804779e-01, 8.42446335e-02, 3.15917375e-02,
       8.40826245e-01, 1.82665047e-01, 5.58930741e-02, 2.25192386e-01,
       3.03766707e-02, 4.90076954e-01, 4.29323613e-02, 1.22316727e-01,
       1.07735925e-01, 3.26042932e-01, 1.57958688e-01, 1.62413933e-01,
       5.18428514e-02, 8.38396112e-02, 3.48319158e-02, 9.06034832e-01,
       2.95666262e-02, 5.22478736e-02, 2.21142163e-01, 6.88537870e-02,
       3.84771162e-02, 5.24503848e-01, 1.19481571e-01, 1.06925881e-01,
       3.47509113e-01, 1.55528554e-01, 9.04009721e-01, 3.80720940e-02,
       2.04941272e-01, 5.71081409e-02, 2.38153098e-01, 7.08788983e-02,
       5.09113001e-01, 4.65775618e-02, 1.15026326e-01, 1.11786148e-01,
       3.61279870e-01, 1.59173755e-01, 1.57148643e-01, 4.90076954e-02,
       1.87120292e-01, 6.68286756e-02, 3.40218712e-02, 3.72620494e-02,
       8.97934386e-01, 2.05346294e-01, 5.79181855e-02, 2.42608343e-01,
       4.53624949e-02, 5.62980964e-02, 5.72296476e-01, 4.21223167e-02,
       1.14216282e-01, 1.08140948e-01, 3.28473066e-01, 1.37302552e-01,
       1.88335358e-01, 2.08181450e-01, 6.15633860e-02, 3.52369380e-02,
       9.40461725e-01, 2.06561361e-01, 5.75131632e-02, 2.04131227e-01,
       5.67031187e-02, 3.92871608e-02, 5.16403402e-01, 1.04495747e-01,
       8.82948562e-02, 3.00931551e-01, 2.12636695e-01, 4.77926286e-02,
       1.93600648e-01, 9.08869988e-01, 2.40178210e-01, 5.42729850e-02,
       1.99270960e-01, 3.88821385e-02, 4.78736330e-01, 4.41474281e-02,
       1.06520859e-01, 1.24341839e-01, 1.12191171e-01, 3.14297286e-01,
       1.29607128e-01, 1.59983799e-01, 1.83475091e-01, 9.45727015e-01,
       1.94815715e-01, 5.83232078e-02, 7.61441879e-02, 7.20939652e-02,
       5.56095585e-01, 1.18671527e-01, 1.41757797e-01, 1.26771972e-01,
       2.96881328e-01, 1.78614824e-01, 1.65249089e-01, 1.17051438e-01,
       1.00000000e+00, 2.02916160e-01, 6.19684083e-02])

In [10]:

#StandatdScaler

standard_scaler = StandardScaler()
st_scaler = df_cluster.copy()
st_scaler[num_features] = standard_scaler.fit_transform(df_cluster[num_features])
st_scaler["Rape"].unique()

array([-4.25523245e-02, -1.34134938e-01, -6.29040164e-02, -3.23764786e-02,
       -8.32557082e-02, -2.05365859e-01,  3.88544429e-02,  4.25536588e-01,
       -1.03607400e-01, -7.30798623e-02,  5.92061347e-02,  1.10085364e-01,
       -1.20247867e-02, -1.54486630e-01,  1.71140440e-01, -1.95190013e-01,
       -1.44310784e-01, -1.85014167e-01, -1.74838321e-01,  3.23778129e-01,
       -5.27281704e-02,  4.06848943e+00, -1.13783246e-01, -1.64662476e-01,
        3.95009050e-01, -9.34315541e-02,  1.30437056e-01,  8.32690511e-03,
       -1.23959092e-01, -1.84894082e-03,  2.86785970e-02,  1.85027510e-02,
        4.90302888e-02,  4.96767509e-01,  2.72898899e-01,  7.10460274e-01,
        1.60964594e-01,  4.76415818e-01,  1.20261210e-01,  8.53568579e+00,
        5.06943355e-01, -2.22006327e-02,  2.69475023e+00,  9.99095184e-02,
        2.00279271e+00,  2.01667978e-01,  7.95578266e-02,  2.03332024e+00,
        6.93819806e-02,  1.40612902e-01,  2.11843824e-01,  8.97336725e-02,
        5.99172431e+00,  1.50788748e-01,  1.81316286e-01,  2.92879468e+00,
        1.91492132e-01,  2.78633284e+00,  1.41259364e+00,  2.32195515e-01,
        3.62075221e+00,  1.73822071e+00,  4.35712434e-01,  2.42371361e-01,
        3.64481512e-01,  3.74657358e-01,  2.52547207e-01,  4.86591663e-01,
        2.62723053e-01,  2.83074745e-01,  4.45888280e-01,  6.90108582e-01,
        2.22019669e-01,  4.66239972e-01,  6.29053506e-01,  2.22934295e+01,
        3.84833204e-01,  2.49123331e+00,  9.44504730e-01,  3.13602283e-01,
        4.36358896e+00,  5.67998431e-01,  4.56064126e-01,  9.22764331e+00,
        6.59581044e-01,  2.39965070e+00,  2.59299177e+00,  2.16560624e+00,
        3.33953975e-01,  2.93250591e-01,  6.65315429e+00,  2.87791546e+00,
        2.31824393e+00,  1.48382456e+00,  3.85479666e+00,  2.26736470e+00,
        3.03426437e-01,  6.18877660e-01,  6.39229352e-01,  1.90575105e+01,
        2.57264008e+00,  1.16837334e+00,  4.53657834e+00,  4.05184896e-01,
        9.04447808e+00,  5.98525969e-01,  3.44129821e-01,  2.05367194e+00,
        2.46070577e+00,  1.76874825e+00,  6.38858230e+00,  4.15360742e-01,
        3.53934544e+00,  2.63369515e+00,  9.13977192e-01,  3.75303820e+00,
        3.54305666e-01,  1.32471025e+01,  7.40987812e-01,  3.14248745e+00,
        1.11749411e+00,  5.00466725e+00,  5.47646739e-01,  5.27295047e-01,
        7.91867041e-01,  1.02655796e+01,  5.17119201e-01,  2.34877147e+00,
        2.43017823e+00,  7.43669443e+00,  2.98984976e+00,  3.04072899e+00,
        3.65127975e+00,  2.08419947e+00,  1.71749790e+01,  3.82426913e+00,
        1.07679073e+00,  4.30253388e+00,  8.02042887e-01,  1.01129419e+01,
        8.12218733e-01,  1.95191348e+00,  2.40982654e+00,  2.45052993e+00,
        7.31458428e+00,  3.26459760e+00,  3.19336668e+00,  3.46811452e+00,
        1.98244101e+00,  1.57096572e+01,  4.33306142e+00,  9.54680576e-01,
        5.07589817e+00,  8.63097963e-01,  1.50417626e+00,  5.78174277e-01,
        1.18835391e+01,  8.42746271e-01,  2.38947485e+00,  2.65404684e+00,
        2.27754055e+00,  7.56898043e+00,  3.73268651e+00,  4.44499573e+00,
        3.80391743e+00,  1.69751733e+00,  1.80908051e+01,  6.08701815e-01,
        4.32288558e+00,  1.18872503e+00,  6.03242769e+00,  1.17207256e+01,
        2.53193669e+00,  7.34511182e+00,  4.23130296e+00,  4.48569911e+00,
        1.14802165e+00,  4.26183050e+00,  1.91121009e+00,  5.88350123e-01,
        2.09196903e+01,  4.38394065e+00,  1.19890088e+00,  5.45240447e+00,
        5.57822585e-01,  1.21074077e+01,  8.73273809e-01,  2.86773961e+00,
        2.50140916e+00,  7.98619011e+00,  3.76321405e+00,  3.87514836e+00,
        1.09714242e+00,  1.90103425e+00,  6.69756890e-01,  2.25580015e+01,
        5.37470893e-01,  1.10731826e+00,  5.35064601e+00,  1.52452795e+00,
        7.61339503e-01,  1.29723546e+01,  2.79650869e+00,  2.48105746e+00,
        8.52550994e+00,  3.70215898e+00,  2.25071222e+01,  7.51163657e-01,
        4.94361218e+00,  1.22942842e+00,  5.77803154e+00,  1.57540718e+00,
        1.25856725e+01,  9.64856422e-01,  2.68457438e+00,  2.60316762e+00,
        8.87148870e+00,  3.79374159e+00,  3.74286236e+00,  1.02591150e+00,
        4.49587496e+00,  1.47364872e+00,  6.49405198e-01,  7.30811966e-01,
        2.23544846e+01,  4.95378802e+00,  1.24978011e+00,  5.88996585e+00,
        9.34328884e-01,  1.20907672e+00,  1.41731044e+01,  8.52922117e-01,
        2.66422269e+00,  2.51158500e+00,  8.04724518e+00,  3.24424591e+00,
        4.52640249e+00,  5.02501894e+00,  1.34136272e+00,  6.79932736e-01,
        2.34229484e+01,  4.98431556e+00,  1.23960426e+00,  4.92326049e+00,
        1.21925257e+00,  7.81691195e-01,  1.27688377e+01,  2.42000239e+00,
        2.01296855e+00,  7.35528766e+00,  5.13695325e+00,  9.95383960e-01,
        4.65868849e+00,  2.26292324e+01,  5.82891077e+00,  1.15819749e+00,
        4.80115033e+00,  7.71515349e-01,  1.18224840e+01,  9.03801346e-01,
        2.47088162e+00,  2.91861884e+00,  2.61334346e+00,  7.69109058e+00,
        3.05090484e+00,  3.81409328e+00,  4.40429234e+00,  2.35552344e+01,
        4.68921603e+00,  1.25995595e+00,  1.70769317e+00,  1.60593471e+00,
        1.37660706e+01,  2.77615700e+00,  3.35618021e+00,  2.97967391e+00,
        7.25352920e+00,  4.28218219e+00,  3.94637928e+00,  2.73545361e+00,
        2.49187977e+01,  4.89273295e+00,  1.35153857e+00])

In [31]:
df_cluster

,Unnamed: 0,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
0,0,3,3,2001,50,30,16,149,34,175,0
1,1,31,31,2001,23,30,7,118,24,154,0
2,2,281,281,2001,27,34,14,112,83,186,0
3,3,302,302,2001,20,20,17,126,38,57,0
4,4,433,433,2001,23,26,12,109,58,247,0
...,...,...,...,...,...,...,...,...,...,...,...
10672,832,906,906,2014,1,0,0,1,2,0,0
10673,833,1507,1507,2014,1,0,0,1,2,0,0
10674,834,822,822,2014,3,1,0,12,1,1,0
10675,835,1174,1174,2014,7,6,1,20,7,3,0
10676,836,1507,1507,2014,10,7,1,32,8,4,0

In [29]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()

df_cluster['DISTRICT'].unique()

df_cluster['DISTRICT']= label_encoder.fit_transform(df_cluster['DISTRICT'])

df_cluster['DISTRICT'].unique()


df_cluster['STATE/UT'].unique()

df_cluster['STATE/UT']= label_encoder.fit_transform(df_cluster['DISTRICT'])

df_cluster['STATE/UT'].unique()

array([   3,   31,  281, ...,  906,  822, 1174])

In [22]:
"""
Здесь k-means и метрики. Используйте несколько вариантов метрик (из практики), для поиска оптимального числа кластеров.
"""

'\nЗдесь k-means и метрики. Используйте несколько вариантов метрик (из практики), для поиска оптимального числа кластеров.\n'

In [ ]:
# your_code here

In [ ]:
"""
Здесь визуализация кластеров k-means
(Для многомерных данных используйте сжатие методами (на выбор один из) PCA/t-TSNE/umap до 2,3 точек - влияет на вид гарфика, если 2 точки - то двумерный, если три точки - то трехмерный)
"""

In [ ]:
# your_code here

In [ ]:
"""
Здесь DBSCAN и метрики. Используйте поиск оптимального EPS. Объясните почему?
"""

In [ ]:
# your_code here

In [ ]:
"""
Здесь визуализация кластеров DBSCAN
(Для многомерных данных используйте сжатие методами (на выбор один из) PCA/t-TSNE/umap до 2,3 точек - влияет на вид гарфика, если 2 точки - то двумерный, если три точки - то трехмерный)
"""

In [ ]:
# your_code here

In [ ]:
"""
Здесь иерархическая кластеризация и метрики
"""

In [ ]:
# your_code here

In [ ]:
"""
Здесь визуализация кластеров иерархической кластеризации
(Для многомерных данных используйте сжатие методами (на выбор один из) PCA/t-TSNE/umap до 2,3 точек - влияет на вид гарфика, если 2 точки - то двумерный, если три точки - то трехмерный)
"""

In [ ]:
# your_code here

In [ ]:
!pip install ydata-profiling

Выполните профилирование набора данных относительно кластеров, используя оригинальный набор данных.

P.S. задание для всех

In [ ]:
#
#### Приветсвуется ручной анилиз - гарфики, статистика по разным кластерам, как альтернативный путь решения задачи
#

# 1. в оригинальный набор данных добавьте колонки с кластерами и работаем с ним

"""
df['kmeans_cluster'] = kmeans_cluster.labels_
df['dbsscan_cluster'] = dbsscan_cluster.labels_
...
"""

# 2. Выполните фильтрацию относительно каждого кластера и каждого алгоритма (Внимание, кластер -1 не учитываем в DBSSCAN, тк это выбросы. То есть, точки не вошли ни в одни кластер)
"""
P.S за пример взять 1 тип кластеров, выполните для всех (если кластеров больше 3, разрешено использовать первые три кластера для анализа)

from ydata_profiling import ProfileReport
df['dbscan_labels'] = dbscan.labels_

uniq_labels = tuple(set(dbscan.labels_))

print(uniq_labels)

"""

# 3. Выполните профилирование
"""
На отдельной ячейке выполните профилирование для каждого кластера и каждого алгоритма

from ydata_profiling import ProfileReport

ProfileReport(df[df.dbscan_labels == 0]) # фильтруем по кластерам из uniq_labels, получаем красивый результат :)

"""

# 4. Проанализируйте результат по кластерам. Какие переменные попали в каждый кластер, их различия (статистические), графики.
# Постарайтесь объяснить различия "фактически".
# Например, видно, что в кластер 1 у пациентов возраст выше в среднем и в медиане, чем в остальных, что может свидетельствоать о влиянии возраста на кластер №()

In [ ]:
# your_code here